/* grid cosmos */
#cos-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 20px 10px 5% 10px;
    row-gap: 20px;
    position: relative;
    justify-content: center;
    grid-template-areas:
        "cos-one"
        "cos-two"
        "cos-three";
}
#cos-grid > div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
#cos-grid p {
    word-wrap: break-word;
    line-height: 1.6;
}
.cos-one {
    grid-area: cos-one;
}
.cos-two {
    grid-area: cos-two;
    padding: 0 20px 0 20px;
    background-color: var(--black-gray);
    color: #fff;
}
.cos-three {
    grid-area: cos-three;
}

/* images and button */
#cos-grid img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
button {
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}
p {
    padding-bottom: 20px;
}

@media only screen and (min-width: 900px) {
    #cos-grid p {
        font-size: 25px;
    }
    body {
        background-image: url(/Images/pexels-kai-pilger-180kb.jpg);
        background-position: center;
    }
    button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    #cos-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
        margin: 5% 10px 5% 10px;
        grid-template-areas: "cos-one cos-two cos-three";
    }
}

@media only screen and (min-width: 2500px) {
    button {
        width: 300px;
        height: 80px;
        font-size: 26px;
    }
}
