/* event grid */
#events-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    position: relative;
    margin: 20px 0 30px 0;
    grid-template-areas:
        "event-one"
        "event-two"
        "event-three";
}
#events-grid > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* event main */
main h2 {
    text-align: center;
}
.event-one {
    grid-area: event-one;
}
.event-two {
    grid-area: event-two;
    background-color: var(--black-gray);
    color: #fff;
}
.event-three {
    grid-area: event-three;
}
#events-grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 500px;
}
p {
    margin: 10px 10px;
}

@media only screen and (min-width: 800px) {
    #events-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        column-gap: 20px;
        margin: 20px 50px 30px 50px;
        grid-template-areas:
            "event-one event-two"
            "event-three event-three";
    }
    #events-grid > div {
        justify-content: unset;
    }
    .img-three {
        align-self: center;
    }
    p {
        font-size: 20px;
    }
    main h2 {
        font-size: 25px;
    }
    #events-grid img {
        max-height: 700px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 2000px) {
    #events-grid {
        column-gap: 20px;
        margin: 100px 50px 30px 50px;
    }
}

@media only screen and (min-width: 1200px) {
    #events-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        margin: 20px 50px 30px 50px;
        grid-template-areas: "event-one event-three event-three event-two";
        /* ". event-three event-three ."; */
    }
    .event-two {
        background-color: var(---light-gray);
        color: #000;
    }
    .event-three {
        background-color: var(--black-gray);
        color: #fff;
    }
}
