/* Grid Exhibitions */
#main-grid-exhi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 250px auto;
    margin: 20px 10px 20px 10px;
    row-gap: 20px;
    grid-template-areas:
        "cos"
        "ai"
        "exo"
        "dino"
        "med";
}

#main-grid-exhi > div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.exhi-cos {
    grid-area: cos;
    max-width: 858px;
}
.exhi-ai {
    grid-area: ai;
    background-color: var(--black-gray);
    max-width: 858px;
}
.exhi-exo {
    grid-area: exo;
    max-width: 858px;
}
.exhi-dino {
    grid-area: dino;
    background-color: var(--black-gray);
    max-width: 1744px;
}
.exhi-med {
    grid-area: med;
    max-width: 858px;
}
/* Text */
h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    max-width: 860px;
}
#main-grid-exhi h2 {
    background-color: rgba(255, 255, 255, 0.562);
}

/* hyperlinks */
#main-grid-exhi a {
    text-decoration: none;
    color: #000;
}

/* images */
#main-grid-exhi img {
    width: 100%;
    height: 100%;
}
.layer {
    display: inline-block;
}

/* Promo Cards Exhibitions */

.exhi-dino img {
    position: relative;
    max-height: 250px;
}
.exhi-dino:hover .overlay {
    display: inline;
}
.overlay {
    display: none;
    position: absolute;
    top: -254px;
    left: 0;
    z-index: 99;
    max-height: 250px;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 900px) {
    #main-grid-exhi {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto 350px;
        margin: auto;
        column-gap: 25px;
        margin: 0 25% 0 25%;
        grid-template-areas:
            "cos ai"
            "exo med"
            "dino dino";
    }
    .exhi-dino img {
        max-height: 350px;
    }
    .overlay {
        top: -354px;
    }
    .info-bar {
        margin-bottom: 30px;
    }
    .content {
        margin-top: 80px;
    }
    h2 {
        font-size: 3vw;
    }
    /* #main-grid-exhi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        margin: 20px 10px 20px 10px;
        row-gap: 20px;
        grid-template-areas:
            "cos ai"
            "med exo"
            "dino dino";
    } 
        #main-grid-exhi > div {
        max-height: 680px;
    }*/
}
@media only screen and (min-width: 2166px) {
    h2 {
        font-size: 2vw;
    }
}
