@font-face {
    font-family: "Roboto", "PlayfairDisplay-VariableFont_wght";
    src: url(/fonts/Roboto-Regular.ttf) format("truetype");
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}
* {
    box-sizing: border-box;
}
:root {
    --museum-font: "PlayfairDisplay-VariableFont_wght";
    --body-font: "roboto", sans-serif;
    --blue-bg: #397684;
    --black-gray: #040404;
    --light-gray: #f2f2f2;
    --red-tiktok: #ee1d52;
    --blue-tiktok: #69c9d0;
    --gradient: linear-gradient(
        90deg,
        rgba(105, 201, 208, 1) 24%,
        rgba(238, 29, 82, 1) 100%
    );
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    font-family: var(--body-font);
    position: relative;
    min-height: 100%;
}
body a {
    cursor: pointer;
    text-decoration: none;
}

/* grid-header */
#header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hl hn hrn";
}
.header-logo {
    grid-area: hl;
    padding: 2px 0;
}
.header-name {
    grid-area: hn;
    align-self: center;
}
.header-right-nav {
    grid-area: hrn;
    padding-right: 10px;
    position: relative;
    align-self: center;
}
.header-right-nav a {
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 5px;
}
.header-right-nav a:hover,
.header-right-nav a:focus {
    color: #000;
    background-color: var(--light-gray);
    transition: 0.5s ease-out;
}
.header-right-nav .fas {
    cursor: pointer;
    font-size: 30px;
    padding: 5px 5px;
}
.header-right-nav ul {
    overflow: overlay;
    position: absolute;
    margin-left: -114px;
    margin-top: 45px;
    box-shadow: 0 0 10px #0e0e0c;
    padding: 10px 0 5px 0;
    width: 120px;
    height: 170px;
    font-size: 20px;
    background-color: #0e0e0c;
    z-index: 1;
}
.header-right-nav li {
    list-style-type: none;
    padding: 2px;
}
.header-right-nav i {
    color: #fff;
}
.header-right-nav > div {
    display: flex;
    float: right;
    justify-content: center;
}

/* header */
header {
    background-color: var(--blue-bg);
    grid-area: header;
    max-height: 231px;
}
.logo-atom {
    width: 60px;
    height: auto;
    display: block;
    margin: auto;
}
.header-right-nav a.active {
    text-decoration: underline;
}
.museum-name {
    user-select: none;
    font-family: var(--museum-font);
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
}
h1,
h2 {
    margin: 0;
}

/* navigation */
.menu {
    display: none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#hamburger-menu {
    display: none;
}

/* main grid index */
main {
    grid-area: main;
}
#main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 20px 10px 20px 10px;
    row-gap: 10px;
    position: relative;
    justify-content: center;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four";
}
#main-grid > div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#main-grid a {
    color: #fff;
}
.card-one {
    grid-area: one;
}
.card-two {
    grid-area: two;
}
.card-three {
    grid-area: three;
}
.card-four {
    grid-area: four;
}
.card-five {
    grid-area: five;
}

/* body index */
.banner {
    background-color: #0e0e0c;
    grid-area: banner;
}
.moon-banner {
    width: 100%;
    height: auto;
}
.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0e0c;
    color: #fff;
    height: 30px;
    width: 100%;
    grid-area: info-bar;
}
.info-h1 {
    user-select: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Promo Cards index*/
#main-grid img {
    height: 100%;
    width: 100%;
    max-width: 860px;
}

/* hyperlinks and text */
#main-grid h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    max-width: 860px;
    background-color: rgba(255, 255, 255, 0.562);
    color: #000;
}
#main-grid a:hover,
#main-grid a:focus {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
#main-grid-exhi a:hover,
#main-grid-exhi a:focus {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
#book-grid a:hover,
#book-grid a:focus {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
#events-grid a:hover,
#events-grid a:focus {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
p {
    padding-left: 10px;
}

/* buttons */
button {
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    border: 0;
    text-align: center;
    font-family: "roboto";
}
button:hover,
button:focus {
    box-shadow: 4px 4px 5px 0px rgba(105, 201, 208, 0.75);
    border: 1px #fff solid;
    transition: all ease 0.3s;
    font-weight: 700;
    font-size: 18px;
}

/* footer */
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
}
footer {
    background: var(--gradient);
    position: sticky;
    top: 100%;
    width: 100%;
    grid-area: footer;
}

/* footer content */
.footer-img {
    height: 60px;
    width: auto;
    display: block;
    margin: auto;
}
.footer-grid > div {
    display: flex;
    min-width: 100%;
}
.footer-center {
    padding: 1px 0;
}
.footer-left {
    font-size: large;
}
.footer-right a {
    margin-right: 20px;
}
.footer-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: right;
}
.footer-right .fab {
    font-size: 25px;
    color: #fff;
}
.footer-right a {
    width: 15px;
    height: 25px;
    text-align: center;
}
.fab:hover,
.fab:focus {
    color: rgba(105, 201, 208, 1);
    transition: all 2s;
    transform: rotateY(360deg);
}
footer p {
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
    align-self: center;
}

/* Media Queries */
@media only screen and (min-width: 900px) {
    /* header */
    #header-grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "hl hn ."
            "hrn hrn hrn";
    }
    .header-right-nav {
        background-color: #040404;
        display: inline;
        padding-right: 0;
        position: relative;
        align-self: center;
    }
    .menu {
        display: inline-block;
    }
    .header-right-nav label {
        display: none;
    }
    .header-right-nav {
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #333;
    }
    .header-right-nav a {
        float: left;
        color: var(--light-gray);
        text-align: center;
        padding: 10px 12px;
        font-size: 30px;
    }
    .header-right-nav ul {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .header-right-nav ul {
        overflow: overlay;
        position: relative;
        margin: 0;
        box-shadow: none;
        padding: 0;
        width: auto;
        height: auto;
        font-size: 20px;
        background-color: #333;
        z-index: 0;
    }
    .header-right-nav li {
        display: inline-block;
        list-style-type: none;
        background-color: #333;
        padding: 0;
        margin-bottom: -4px;
    }
    .header-right-nav a:hover,
    .header-right-nav a:focus {
        background-color: var(--light-gray);
        color: var(--black-gray);
        transition: 0.5s ease-out;
    }
    .menu {
        display: inline-block;
    }
    .logo-atom {
        width: 100%;
        height: 100%;
        max-width: 150px;
    }

    /* body */
    .info-bar {
        height: 50px;
    }
    .moon-banner {
        display: none !important;
    }
    .info-h1 {
        font-size: 2rem;
    }
    #main-grid {
        column-gap: 10px;
        margin: 80px 10px 0px 10px;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas:
            "one two"
            "three four";
    }
    #main-grid h2 {
        font-size: 4vw;
    }
    button:hover,
    button:focus {
        box-shadow: 4px 4px 5px 0px rgba(105, 201, 208, 0.75);
        border: 1px #fff solid;
        transition: all ease 0.3s;
        font-weight: 700;
        font-size: 28px;
    }

    /* footer */
    footer p {
        font-size: 20px;
        margin-left: 10px;
        padding-top: 1px;
    }
    .footer-right .fab {
        font-size: 35px;
    }
    .footer-right a {
        width: 31px;
        height: 31px;
    }
}
