@font-face {
    font-family: "Roboto", "PlayfairDisplay-VariableFont_wght", sans-serif,
        Verdana, Tahoma;
    src: url(/fonts/Roboto-Regular.ttf) format("truetype");
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}
* {
    box-sizing: border-box;
}
:root {
    --blue-bg: #397684;
    --black-gray: #040404;
    --light-gray: #f2f2f2;
    --red-tiktok: #ee1d52;
    --blue-tiktok: #69c9d0;
    --gradient: linear-gradient(
        90deg,
        rgba(105, 201, 208, 1) 24%,
        rgba(238, 29, 82, 1) 100%
    );
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    font-family: "roboto", sans-serif, Verdana, Tahoma;
    position: relative;
    min-height: 100vh;
}
body a {
    cursor: pointer;
}

/* grid-header */
#header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hl hn hrn";
}
.header-logo {
    grid-area: hl;
    padding-left: 10px;
    padding-top: 2px;
}
.header-name {
    grid-area: hn;
    align-self: center;
}
.header-right-nav {
    grid-area: hrn;
    padding-right: 10px;
    position: relative;
    align-self: center;
}
.header-right-nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
.header-right-nav a:hover {
    color: var(--black-gray);
    background-color: var(--light-gray);
}
.header-right-nav .fas {
    cursor: pointer;
    font-size: 30px;
    padding: 5px 5px;
    margin-top: 3px;
    margin-right: 40px;
}
.header-right-nav ul {
    overflow: overlay;
    position: absolute;
    margin-left: -114px;
    margin-top: 40px;
}
.header-right-nav li {
    list-style-type: none;
    padding: 2px;
    background-color: #0e0e0c;
}
.header-right-nav i {
    color: #fff;
}
.header-right-nav > div {
    display: flex;
    float: right;
    justify-content: center;
}

/* header */
header {
    background-color: var(--blue-bg);
}

.logo-atom {
    width: 60px;
    height: auto;
}

.header-right-nav a.active {
    text-decoration: underline;
}

.museum-name {
    user-select: none;
    font-family: "PlayfairDisplay-VariableFont_wght";
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
}
h1,
h2 {
    margin: 0;
}

/* navigation */
.menu {
    display: none;
    overflow: none;
    /* overflow: overlay;
    position: absolute;
    margin-left: -114px;
    margin-top: 40px; */
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#hamburger-menu {
    display: none;
}
/* Main Grid index */

/* main grid */
#main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 20px 10px 20px 10px;
    row-gap: 10px;
    position: relative;
    justify-content: center;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four";
}
#main-grid > div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#main-grid a {
    text-decoration: none;
    color: #fff;
}
.card-one {
    grid-area: one;
}
.card-two {
    grid-area: two;
}
.card-three {
    grid-area: three;
}
.card-four {
    grid-area: four;
}
.card-five {
    grid-area: five;
}
#main-grid > div:hover {
    box-shadow: 2px 2px 5px 2px rgba(57, 118, 132, 0.89);
}

/* body index */
.banner {
    background-color: #0e0e0c;
}
.moon-banner {
    width: 100%;
    height: auto;
}
.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0e0c;
    color: #fff;
    height: 30px;
    width: 100%;
}
.info-h1 {
    user-select: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.content {
    padding-bottom: 4rem;
}
.link {
    display: inline-block;
    width: 100%;
    height: 100%;
}
/* Promo Cards index*/
#main-grid img {
    height: 100%;
    width: 100%;
    max-width: 860px;
}

/* hyperlinks and text */
#main-grid h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    max-width: 860px;
    background-color: rgba(255, 255, 255, 0.562);
    color: #000;
}
#main-grid a:hover {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
#main-grid-exhi a:hover {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
#book-grid a:hover {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
#events-grid a:hover {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
/* footer */
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem;
}
footer {
    background-attachment: fixed;
    background: var(--blue-tiktok);
    background: var(--gradient);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    max-height: 65px;
}
.footer-img {
    height: 60px;
    width: auto;
}
.footer-grid > div {
    display: flex;
    min-width: 100%;
}
.footer-center {
    justify-content: center;
}
.footer-left {
    font-size: large;
}
.footer-right a {
    margin-right: 20px;
    /* margin-top: 5px; */
}
.footer-right {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: right;
}
.footer-right .fab {
    font-size: 25px;
    color: #fff;
}
.footer-right a {
    width: 15px;
    height: 25px;
    text-align: center;
}

.fab:hover {
    color: rgba(105, 201, 208, 1);
    transition: all 2s;
    transform: rotateY(360deg);
}

footer p {
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

/* Media Queries */
@media only screen and (min-width: 900px) {
    /* header */
    #header-grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "hl hn ."
            "hrn hrn hrn";
    }
    .header-right-nav {
        background-color: #040404;
        display: inline;
        padding-right: 0;
        position: relative;
        align-self: center;
    }
    .logo-atom {
        width: 100%;
        height: 100%;
        max-width: 150px;
    }
    .menu {
        display: inline-block;
    }
    .header-right-nav label {
        display: none;
    }
    .header-right-nav {
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #333;
    }
    .header-right-nav a {
        float: left;
        color: var(--light-gray);
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 30px;
    }
    .header-right-nav ul {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .header-right-nav li {
        display: inline-block;
        list-style-type: none;
        background-color: #333;
        padding: 0;
        margin-bottom: -4px;
    }
    .header-right-nav a:hover {
        background-color: var(--light-gray);
        color: var(--black-gray);
    }
    /* body */
    .info-bar {
        height: 50px;
    }
    .moon-banner {
        display: none;
    }
    .info-h1 {
        user-select: none;
        color: #ffffff;
        font-size: 2rem;
    }
    #main-grid {
        column-gap: 10px;
        margin: 80px 10px 0px 10px;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas:
            "one two"
            "three four";
    }
    #main-grid h2 {
        font-size: 4vw;
    }
    .content {
        padding-bottom: 5rem;
    }

    /* footer */
    footer p {
        font-size: 20px;
        margin-left: 10px;
        padding-top: 1px;
    }
    .footer-right .fab {
        font-size: 35px;
    }
    .footer-right a {
        width: 31px;
        height: 31px;
    }
}
