body {
    background-color: #040404;
    margin: 20px 100px 0 100px;
}
a {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        ". ."
        ". card"
        ". 2";
}
.grid-container > div {
    display: flex;
    box-sizing: border-box;
}
.one {
    grid-area: one;
    background-color: #040404;
}
.two {
    grid-area: two;
    justify-content: left;
    background-color: #040404;
}
.three {
    grid-area: three;
    background-color: #040404;
}
.card {
    grid-area: card;
    background-color: #040404;
    height: 150px;
    width: auto;
}

/* test 2 */
.dino {
    height: 150px;
    width: auto;
}
.dino2:hover {
    display: inline;
}
.dino2 {
    height: 150px;
    width: auto;
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 99; */
}
.card:hover {
    display: inline;
}

.card2 {
    grid-area: 2;
    height: 200px;
    width: 400px;
    margin-top: 100px;
    grid-area: 2;
    background: url("/Images/komprimert/2-dino-white.png") no-repeat;
    background-size: contain;
    background-position: center;
}
.card2:hover {
    background-image: url("/Images/komprimert/2-dino-tiktok.png");
}

.test1 {
    height: 150px;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
}
.test2 {
    height: 150px;
    width: auto;
    display: none;
    position: absolute;
    top: 920px;
    left: 100px;
    z-index: 99;
}
.test:hover .test2 {
    display: inline;
}
