@font-face {
    font-family: "Roboto", "PlayfairDisplay-VariableFont_wght", sans-serif,
        Verdana, Tahoma;
    src: url(/fonts/Roboto-Regular.ttf) format("truetype");
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "roboto";
    position: relative;
    min-height: 100vh;
    /* box-sizing: border-box; */
}
body a {
    cursor: pointer;
}

/* grid-header */
#header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hl hn hrn";
}
.header-logo {
    grid-area: hl;
    padding-left: 10px;
    padding-top: 2px;
}
.header-name {
    grid-area: hn;
    align-self: center;
}
.header-right-nav {
    grid-area: hrn;
    padding-right: 10px;
    position: relative;
    align-self: center;
    /* padding-left: 100px;
    padding-bottom: 30px; */
}
.header-right-nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
.header-right-nav a:hover {
    color: rgb(105, 201, 208);
}
.header-right-nav .fas {
    cursor: pointer;
    font-size: 30px;
    padding: 5px 5px;
    margin-top: 3px;
    margin-right: 40px;
}
.header-right-nav ul {
    overflow: overlay;
    position: absolute;
    margin-left: -114px;
    margin-top: 40px;
}
.header-right-nav li {
    list-style-type: none;
    /* overflow: none; */
    padding: 2px;
    background-color: #0e0e0c;
}
.header-right-nav i {
    color: #fff;
}
.header-right-nav > div {
    display: flex;
    float: right;
    justify-content: center;
}

/* header */
header {
    background-color: #397684;
}

.logo-atom {
    width: 60px;
    height: auto;
}

.header-right-nav a.active {
    text-decoration: underline;
}

.museum-name {
    user-select: none;
    font-family: "PlayfairDisplay-VariableFont_wght";
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
h1,
h2 {
    margin: 0;
}
/* Main Grid index */
#main-grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* margin-top: 20px; */
    margin: 20px 10px 20px 10px;
    row-gap: 10px;
    box-sizing: border-box;
}
#main-grid-1 h2 {
    font-size: 30px;
}
#main-grid-1 a {
    text-decoration: none;
    margin: 0;
}
/* navigation */
.menu {
    display: none;
    overflow: none;
    box-sizing: border-box;
    /* overflow: overlay;
    position: absolute;
    margin-left: -114px;
    margin-top: 40px; */
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#hamburger-menu {
    display: none;
    /* overflow: none; */
}

/* body index */
.moon-banner {
    width: 100%;
    height: auto;
}
.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0e0c;
    height: 30px;
    width: 100%;
    margin-top: -4px;
}
.info-h1 {
    user-select: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.content {
    padding-bottom: 4rem;
}
/* Promo Cards */
#main-grid-1 > div {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#main-grid-1 > a:hover {
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 2px rgba(57, 118, 132, 0.89);
}
.card-one {
    color: #000;
}
.card-two {
    color: #fff;
}
.card-three {
    color: #000;
}
.card-four {
    color: #fff;
}
#main-grid-1 a {
    text-decoration: none;
}
#main-grid-1 h2 {
    text-align: center;
}
.card-one img {
    height: 110px;
    width: auto;
    margin: 6px 0 0 5px;
}
.card-two img {
    height: 110px;
    width: auto;
    float: right;
    margin: 8px 5px 0 0;
}
.card-three img {
    height: 110px;
    width: auto;
    margin: 6px 0 0 5px;
}
.card-four img {
    height: 110px;
    width: auto;
    margin: 8px 5px 0 0;
    float: right;
}
.black {
    background-color: #040404;
}
.white {
    background-color: #f2f2f2;
}
.black h2 {
    display: inline-block;
    padding: 50px 0 0 20px;
    position: absolute;
}
.white h2 {
    display: inline-block;
    padding: 50px 0 0 20px;
    position: absolute;
}

/* footer */
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem;
}
footer {
    background-attachment: fixed;
    background: rgb(105, 201, 208);
    background: linear-gradient(
        90deg,
        rgba(105, 201, 208, 1) 24%,
        rgba(238, 29, 82, 1) 100%
    );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    max-height: 65px;
}
.footer-img {
    height: 60px;
    width: auto;
}
.footer-grid > div {
    display: flex;
    min-width: 100%;
}
.footer-center {
    justify-content: center;
}
.footer-left {
    font-size: large;
}
footer p {
    color: #fff;
    font-size: 0.6rem;
    margin-left: 10px;
    padding-top: 10px;
}

/* Media Queries */
@media only screen and (min-width: 900px) {
    /* header */
    #header-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "hl hn ."
            "hrn hrn hrn";
    }
    .header-right-nav {
        background-color: #040404;
        display: inline;
        padding-right: 0;
        position: relative;
        align-self: center;
    }
    .menu {
        display: inline-block;
    }
    .header-right-nav label {
        display: none;
    }
    .header-right-nav {
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #333;
    }
    .header-right-nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 30px;
    }
    .header-right-nav ul {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .header-right-nav li {
        display: inline-block;
        list-style-type: none;
        background-color: #333;
        padding: 0;
        margin-bottom: -4px;
    }
    .header-right-nav a:hover {
        background-color: #f2f2f2;
        color: #040404;
    }
    .header-name h1 {
        font-size: 3rem;
    }
    .logo-atom {
        width: 80px;
        height: auto;
    }
    /* body */
    .info-bar {
        height: 50px;
    }
    .moon-banner {
        display: none;
    }
    .info-h1 {
        user-select: none;
        color: #ffffff;
        font-size: 2rem;
    }
    /* footer */
    footer p {
        color: #fff;
        font-size: 0.7rem;
        margin-left: 10px;
        padding-top: 10px;
    }
}
